.card {
  border: 1.7px solid $-c-gray-20;
  border-radius: $-s-md;
  padding: $-s-md $-s-md;
  height: 100%;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &--post {
    &:hover {
      background-color: $-c-blue-1;
      color: whitesmoke;
    }
    &:hover .card__title {
      color: whitesmoke;
    }
  }

  &--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $-s-sm;
    justify-items: center;
    width: 100%;
  }

  &--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    text-decoration: none;
    color: $-c-blue-1;
    width: 80%;
    text-transform: capitalize;
    text-align: left;
  }

  &--link {
    background-color: $-c-pink;
    height: fit-content;
    display: flex;
    align-self: baseline;
    text-decoration: none;
    padding: 6px;
    border-radius: 12px;
    &:hover {
      transform: scale(1.2);
      box-shadow: 1px 1px 1px;
    }
  }

  &__body {
    padding: 0.5rem 0;
    text-align: justify;
    line-height: 1.2em;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__author {
    width: 100%;
    font-weight: 200;
    font-style: italic;
    border-bottom: 1px solid;
    width: fit-content;
  }

  &__action {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    width: 100%;
    padding-top: $-s-xxs;
  }
}
