.sidebar {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $-c-navigation;
  width: 6rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;

  button {
    background-color: transparent;
    border: none;
  }

  @include bp-md {
    display: flex;
  }

  i {
    font-size: 20px;
    cursor: pointer;
    color:$-c-icon;
  }
}
