@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

$-t-light: 300;
$-t-regular: 400;
$-t-medium: 500;
$-t-semi: 600;

$sm: 480px;
$md: 640px;
$lg: 768px;
$xl: 1024px;
$xxl: 1280px;

@mixin bp-sm {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin bp-md {
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin bp-lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin bp-xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin bp-xxl {
  @media screen and (min-width: $xxl) {
    @content;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #222;

  padding: 15vh 0 7vh 0;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 1em;
  width: 100%;
  height: 70%;
  max-width: 600px;

  &__title {
    font-size: 2.2rem;
  }
  h4 {
    text-align: center;
  }

  &__error {
    color: red;
    text-align: center;
  }
}
.bt-back {
  position: fixed;
  bottom: 4vh;
  right: 4vh;
  background-color: #444bd3;
  border: none;
  padding: 8px;
  border-radius: 40%;
  font-size: 1em;
}
.post-edit {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    min-height: 100px;
    resize: none;
    overflow-x: scroll;
  }

  &__body {
    min-height: 250px;
    overflow-x: scroll;
    resize: none;
  }
}
.post-info {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  font-weight: 300;
  margin-bottom: 2%;
  width: 345px;
  @include bp-md {
    width: 70%;
  }
  header {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid;
  }
  &__title {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  &__id,
  &__date,
  &__author-info {
    font-weight: 200;
  }
  &__body {
    margin: 6px 0;
  }
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
  width: 345px;
  @include bp-md {
    width: 80%;
  }
  &__title {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 8px;
    margin-bottom: 1em;
  }
  &__card {
    background-color: rgb(153, 202, 244);
    border-radius: 20px;
    margin: 6px;
    font-size: 12px;
    padding: 8px 10px;
  }

  header {
    width: 100%;
    font-weight: 200;
    h4 {
      font-weight: 300;
      text-transform: lowercase;
      margin-bottom: 6px;
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
  footer {
    width: 50%;
    display: flex;
    align-self: flex-end;
    justify-content: space-evenly;
  }
}
.profile {
  &--wrapper {
    background-color: rgba(163, 202, 235, 0.14);
    margin: 10%;
    width: 280px;
    @include bp-md {
      width: 500px;
    }
  }

  &__image {
    width: 100px;
    height: 30px;

    img {
      background-color: rgb(153, 202, 244);
      width: 100%;
      border-radius: 50%;
      object-fit: contain;
      padding: 8px;
    }
  }
  &__details {
    background-color: #92d4d795;
    border-radius: 16px;
    width: 100%;
    min-height: 150px;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-weight: 500;
  }
  &__username,
  &__id {
    text-transform: uppercase;
    font-weight: 200;
  }
}
.card {
  border: 1.7px solid #ccc;
  border-radius: 20px;
  padding: 1.4rem 1.8rem;
  min-height: 340px;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
  line-height: 1.4em;
  &--post {
    min-height: 340px;
    &:hover {
      background-color: #444bd3;
      color: whitesmoke;
    }
    &--post {
      margin: 1rem 0;
    }
  }

  &--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 1.4rem;
    width: 100%;
  }
  &--header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
    width: 80%;
    text-transform: capitalize;
    text-align: left;
  }
  &--link {
    background-color: #edd3ff;
    height: fit-content;
    padding: 6px;
    border-radius: 12px;
    &:hover {
      transform: scale(1.2);
      box-shadow: 1px 1px 1px;
    }
  }

  &__body {
    padding: 0.5rem 0;
    text-align: justify;
    line-height: 1.2em;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__author {
    width: 100%;
    font-weight: 200;
    font-style: italic;
    border-bottom: 1px solid;
    width: fit-content;
  }
  &__action {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    width: 100%;
  }
}
.fa {
  &-plus {
    font-size: 1.6rem;
    color: #444bd3;
  }
  &-x,
  &-pen-to-square {
    cursor: pointer;
    font-size: 1.1rem;
    &:hover {
      border-bottom: 1px solid #e3f8fb;
      padding-bottom: 4px;
    }
  }
}

.app {
  background-color: #fcfcfc;
  font-family: "Inter", sans-serif;
  background-color: #222;
}
.navbar {
  background-color: #e2e8ff;
  height: 6vh;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 4px 0;
  align-items: center;
  justify-content: space-around;
  i {
    font-size: 1.4em;
  }
  @include bp-md {
    display: none;
  }
}
.header {
  background-color: #fcfcfc;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1vh 0 1em 5vw;

  position: fixed;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  border-bottom: 3px solid #e2e8ff;
  // @include bp-md {
  //   position: relative;
  //   padding: 0 0 1em 0;
  // }
  &--box {
    position: relative;
  }
  h1 {
    font-size: 2.4em;
    position: relative;
  }
  &--cool {
    width: 100%;
    height: 16px;
    background-color: #fec4bb;
    position: absolute;
    bottom: 2px;
    z-index: 0;
  }
  aside {
    height: 20px;
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    color: #585fd8;
  }
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    @include bp-md {
      display: none;
    }
  }
}
.input {
  // border: 1px solid transparent;
  // border-radius: 20px;
  // font-size: 2rem;
  // margin-bottom: 1.5rem;
  // outline: none;
  // padding: 1.5rem 2rem;
  // transition: all 0.4s;
  width: 401px;
  height: 64px;
  margin: 16px 0;
  padding: 16px;
  border-radius: 50px;
  border: 1.5px solid silver;
  outline: 0.1em solid brown;

  &:focus {
    border: 1px solid blueviolet;
    box-shadow: 0px 0px 5px 0px purple;
  }

  &--error {
    border: 1px solid red !important;
    box-shadow: 0px 0px 5px 0px red !important;
  }

  &--search {
    display: none;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 300px;

    &--show {
      display: block;
    }
  }
}
.sidebar {
  display: none;
  background-color: #e2e8ff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 3.5vw;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  list-style: none;
  color: #222;
  button {
    background-color: transparent;
    border: none;
  }
  @include bp-md {
    display: flex;
  }
  i {
    font-size: 20px;
  }
}
