.fa {
    &-plus {
      font-size: 1.6rem;
      color: #444bd3;
    }
    &-x,
    &-pen-to-square {
      cursor: pointer;
      font-size: 1.1rem;
      &:hover {
        border-bottom: 1px solid #e3f8fb;
        padding-bottom: 4px;
      }
    }
  }